<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Toolforge CDNjs Mirror</title>
    <link href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 70px;
        }

        li.lib {
            list-style: none;
            display: block;
            border-bottom: 1px dotted #ccc;
            padding: 8px 0px;
        }

        ul {
            padding-left: 0px;
        }

        li.lib .buttons-bar {
            padding: 8px 0px;
        }

        .center {
            text-align: center;
        }
    </style>
  </head>
  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Wikimedia Toolforge CDNjs</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://cdnjs.com">Upstream: cdnjs.com</a></li>
            <li><a href="https://gerrit.wikimedia.org/r/plugins/gitiles/labs/tools/cdnjs-index/">source</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
        <div class="jumbotron">
            <h2>Mirror of <a href="https://cdnjs.com">cdnjs.com</a> for use by <a href="https://tools.wmflabs.org">Wikimedia Toolforge</a></h2>
            <p>Collection of very useful JS / CSS libraries served in a fast, <a href="https://foundation.wikimedia.org/wiki/Privacy_policy" alt="Wikimedia Privacy Policy page">Wikimedia Privacy Policy</a> friendly way.</p>
            <p><small>Thanks to the <a href="https://github.com/cdnjs/cdnjs" alt="CDNjs repository on Github">cdnjs community</a> for maintaining and curating the libraries!. <a href="https://github.com/cdnjs/cdnjs#adding-a-new-or-updating-an-existing-library">You can add your favorite libraries too.</a></small></p>
        </div>
        <p class="center"><small>Tip: Use your browser's search function to search! The libraries are ordered by popularity. Clicking 'Use latest' will show you the list of files distributed with the library and allows you to include them as you see fit</small></p>

        <div id="results-container">
            <ul>
            {% for lib in libraries %}
                <li class='lib'>
                    <h3>
                    {%- if lib.homepage -%}
                        <a href="{{ lib.homepage }}">{{ lib.name }}</a>
                    {%- else -%}
                        {{ lib.name }}
                    {%- endif -%}
                    </h3>

                    <p>{{ lib.description or "" }}</p>
                    <div class="buttons-bar">
                          <button class="btn btn-xs btn-primary" type="button" data-toggle="collapse" data-target="#linksFor{{ lib.name|replace(".","-") }}-current" aria-expanded="false" aria-controls="linksFor{{lib.name|replace(".","-")}}-current">
                              Use latest ({{ lib.version }})
                          </button>
                            {%- if lib.version in lib.assets -%}
                              {%- set asset = lib.assets[lib.version] -%}
                              <ul class="list-group collapse" id="linksFor{{ lib.name|replace(".","-") }}-current">
                              {%- for endpt in asset.files -%}
                               <li class="list-group-item">https://tools-static.wmflabs.org/cdnjs/ajax/libs/{{ lib.name }}/{{ asset.version }}/{{ endpt }}</li>
                              {%- endfor -%}
                              </ul>
                            {%- else -%}
                              <!-- {{ lib.name }} version {{ lib.version }} not found in its assets: {{ lib.assets.keys() | list | tojson }} -->
                            {%- endif -%}
                          <button class="btn btn-xs btn-default" type="button" data-toggle="modal" href="mod{{ lib.name }}.html" data-target="#allVersions-{{lib.name|replace(".","-")}}">
                            Select a version
                            <span class="caret"></span>
                          </button>
                          <div class="modal fade text-center" id="allVersions-{{lib.name|replace(".","-")}}">
                            <div class="modal-dialog">
                              <div class="modal-content">
                              </div>
                            </div>
                          </div>
                    </div>

                    <div>
                    {% for keyword in lib.keywords %}
                        <span class="label label-default">{{ keyword }}</span>
                    {% endfor %}
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
